openapi: 3.0.4
info:
  title: Email Validator
  description: >-
    Email Validator checks whether an email address is valid, deliverable and
    safe. It validates the format, resolves the domain's mail (MX) records,
    flags disposable and role-based addresses, and returns a composite risk
    score with typo correction.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/emailvalidator:
    get:
      summary: Validate Email
      description: Validate if an email address is valid and exists
      operationId: emailvalidator
      parameters:
        - name: email
          in: query
          schema:
            type: string
          required: true
          description: The email address to validate (e.g., support@myspace.com)
          example: support@myspace.com
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  email: support@myspace.com
                  domain: myspace.com
                  username: support
                  isRegexValid: true
                  hasTypo: false
                  isMxValid: true
                  isValid: true
                  isFreeEmail: false
                  isCompanyEmail: true
                  isDisposable: false
                  isRoleAccount: true
                  suggestedCorrection: null
                  riskScore: 10
                  riskLevel: low
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
